<div class="auth-container">
    <div class = "auth-header">
        <header>Зарегестрироваться</header>
    </div>
    <div class = "input-box">
        <input type="email" class="input-field" placeholder="Почта" autocomplete="off" required>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" placeholder="Пароль" autocomplete="off" required>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" placeholder="Повторите пароль" autocomplete="off" required>
    </div>
    <div class = "input-submit">
        <button class ="submit-btn" id="submit"></button>
        <label for="submit">Зарегестрироваться</label>
    </div>
    <div class = "sign-up-link">
        <p>Уже есть аккаунт?<a href="#"> Войти!</a></p>
    </div>
</div>
