<nav class="top-nav">
    <ul class="menu">
      <li class="logo">Генератор Путешествий</li>
      <li><a routerLink="/about">О приложении</a></li>
      <li><a routerLink="/profile">Профиль</a></li>
      <li><a routerLink="/welcome">Войти</a></li>
      <li class="burger" (click)="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
      </li>
    </ul>
  
    <ul class="sidebar" [class.show]="sidebarVisible">
      <li><a routerLink="/about">О приложении</a></li>
      <li><a routerLink="/profile">Профиль</a></li>
      <li><a routerLink="/welcome">Войти</a></li>
    </ul>
  </nav>
  