<body>
    <nav>
        <ul class = "sidebar">
            <li><a href="#">Генератор Путешествий</a></li>
            <li><a href="#">О приложении</a></li>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Войти</a></li>
        </ul>
        <ul>
            <li><a href="#">Генератор Путешествий</a></li>
            <li><a href="#">О приложении</a></li>
            <li><a href="#">Профиль</a></li>
            <li><a href="#">Войти</a></li>  
            <li onclick="showSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
        </ul>
    </nav>
    <script>
        function showSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'flex'
        }
    </script>
</body>