<nav class="top-nav">
    <ul class="menu">
      <li class="logo">
        <img src="icon.png" alt="Logo" class="logo-icon" />
        <div class="animated-logo">
          <span>Г</span>
          <span>е</span>
          <span>н</span>
          <span>е</span>
          <span>р</span>
          <span>а</span>
          <span>т</span>
          <span>о</span>
          <span>р</span>
          <span>&nbsp;</span> 
          <span>П</span>
          <span>у</span>
          <span>т</span>
          <span>е</span>
          <span>ш</span>
          <span>е</span>
          <span>с</span>
          <span>т</span>
          <span>в</span>
          <span>и</span>
          <span>й</span>
        </div>
      </li>
      <li><a routerLink="/about">О приложении</a></li>
      <li><a routerLink="/profile">Профиль</a></li>
      <li><a routerLink="/welcome">Выйти</a></li>
      <li class="burger" (click)="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" height="26px" viewBox="0 -960 960 960" width="26px" fill="#000"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
      </li>
    </ul>
  
    <ul class="sidebar" [class.show]="sidebarVisible">
      <li class="close" (click)="toggleSidebarLeave()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
      </li>
      <li><a routerLink="/aboutpage">О приложении</a></li>
      <li><a routerLink="/profilepage">Профиль</a></li>
      <li><a (click)="navigateToWelcomePage()">Выйти</a></li>
    </ul>
  </nav>
  <div id="map"></div>
  <div class="attribution">© <a href="https://www.maptiler.com/copyright/" target="_blank">MapTiler</a> © OpenStreetMap</div>

  