<div class="login-container">
    <div class = "login-header">
        <header>Войти</header>
    </div>
    <div class ="input-box">
        <input type="email" class="input-field" placeholder="Почта" [(ngModel)]="email" autocomplete="off" required>
    </div>
    <div class="input-box">
        <input type="password" class="input-field" placeholder="Пароль" [(ngModel)]="password" autocomplete="off" required>
    </div>
    <div class = "forgot">
        <section>
            <input type="checkbox" id="check">
            <label for="check">Запомнить меня</label>
        </section>
        <section>
            <a href="#">Забыли пароль?</a>
        </section>
    </div>
    <div class = "input-submit">
        <button class ="submit-btn" (click)="onLogin()" id="submit"></button>
        <label for="submit">Войти</label>
    </div>
    <div class = "sign-up-link">
        <p>Нет аккаунта?<a (click)="navigateToRegister()"> Зарегистрироваться!</a></p>
    </div>
</div>
